* {
	outline: none;
}

::selection {
	background-color: rgba(147, 107, 255, 0.286);
}

::-moz-selection {
	background-color: rgba(147, 107, 255, 0.286);
}

body {
	text-align: center;
	background-color: #f1eff6;
}

a {
	text-decoration: none;
	color: red;
	border-radius: 2px;
}

input[type="checkbox"]+label:hover,
input[type="radio"]+label:hover,
a:hover {
	background-color: rgba(60, 251, 76, 0.286);
}

a:active {
	background-color: rgba(25, 240, 43, 0.427);
}

button {
	background-color: #4ca951;
	color: white;
	border: none;
	border-radius: 2px;
	margin: 1px;
}

button:hover {
	background-color: #57d15d;
}

button:active {
	background-color: #37723a;
}

button,
label {
	-webkit-user-select: none;
	-moz-user-select: none;
}

.hide,
input[type="checkbox"],
input[type="radio"] {
	display: none;
}

input[type="checkbox"]+label::before {
	content: "\2610\20";
}

input[type="checkbox"]:checked+label::before {
	content: "\2611\20";
}

input[type="radio"]+label::before {
	content: "\29be\20";
}

input[type="radio"]:checked+label::before {
	content: "\29bf\20";
}

.index {
	width: 60vw;
	max-width: 270px;
	display: flex;
	margin: auto;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}

.index a {
	border: 2px solid #37723a;
	border-radius: 5px;
	padding: 10px;
}

strong.error {
	color: red;
}

strong.warning {
	color: orange;
}

strong.accept {
	color: green;
}

.profile {
	font-size: 10pt;
	line-height: 1.5;
}

.disabled {
	opacity: 0.2;
	pointer-events: none;
}

.fade {
	visibility: hidden;
}