.inner {
	margin: 5px 0px;
}

.left {
	float: left;
	margin-left: 5px;
}

.right {
	float: right;
	margin-right: 5px;
}

.clear {
	clear: both;
}

.textbox {
	display: inline-block;
	width: 80vw;
	min-width: 12px;
	max-width: 384px;
	height: calc(40vh - 180px);
	min-height: 84px;
	max-height: 280px;
	font-size: 10pt;
}

.text {
	display: inline-block;
	width: calc(100% - 10px);
	height: calc(100% - 37px);
	text-align: start;
	font-family: monospace;
	background-color: white;
	resize: none;
	white-space: pre-wrap;
	overflow: auto;
	overflow-wrap: break-word;
	padding: 2px;
	border: 1px solid gray;
	border-radius: 2px;
}