* {
	outline: none;
}

::selection {
	background-color: rgba(147, 107, 255, 0.286);
}

::-moz-selection {
	background-color: rgba(147, 107, 255, 0.286);
}

body {
	text-align: center;
	background-color: #f1eff6;
}

a {
	text-decoration: none;
	color: red;
	border-radius: 2px;
}

input[type="checkbox"]+label:hover,
a:hover {
	background-color: rgba(60, 251, 76, 0.286);
}

a:active {
	background-color: rgba(25, 240, 43, 0.427);
}

button {
	background-color: #4ca951;
	color: white;
	border: none;
	border-radius: 2px;
	margin:1px;
}

button:hover {
	background-color: #57d15d;
}

button:active {
	background-color: #37723a;
}

button,
label {
	-webkit-user-select: none;
	-moz-user-select: none;
}

.hide,
input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]+label::before {
	content: "\2610\20";
}

input[type="checkbox"]:checked+label::before {
	content: "\2611\20";
}

.line {
	text-decoration: underline;
}

.index a {
	line-height: 3;
}

#title {
	color: blue;
}

#info,
strong.error {
	color: red;
}

strong.warning {
	color: orange;
}

strong.accept {
	color: green;
}

.profile {
	font-size: 10pt;
	line-height: 1.5;
}

.disabled {
	opacity: 0.2;
	pointer-events: none;
}
.fade{
	visibility: hidden;
}