* {
	outline: none;
}

::selection {
	background-color: #936bff49;
}

body {
	text-align: center;
	background-color: #f1eff6;
}

a {
	text-decoration: none;
	color: red;
	border-radius: 2px;
}

a:hover {
	background-color: #3cfb4c49;
}

a:active {
	background-color: #19f02b6d;
}

button {
	background-color: #4ca951;
	color: #faf9f8;
	border: none;
	border-radius: 2px;
}

button:hover {
	background-color: #57d15d;
}

button:active {
	background-color: #37723a;
}

.line {
	text-decoration: underline;
}

.index a {
	line-height: 3;
}

#title {
	color: blue;
}

#info,
strong {
	color: red;
}

.profile {
	font-size: 10pt;
	line-height: 1.5;
}

.disabled {
	opacity: 0.2;
	pointer-events: none;
}

.hide {
	position: absolute;
	top: -9999px;
	left: -9999px;
}